<h3>
	{{description}} 
	<small>&#8618;{{result}}</small>
	
	<button {{action 'destroy'}} class="label radius alert right">X</button>
	{{#link-to 'flashcard.edit' classNames="label radius secondary right"}}edit{{/link-to}}
</h3>
{{#each a in answers}}
	<div {{bind-attr class="a.correct:correct:wrong"}}>
			<div class="row">
				<div class="large-10 columns">
					{{{a.raycode}}}
				</div>
				<div class="large-2 columns">
					<button class="radius secondary label right" {{action destroy a}}>X</button>
				</div>
			</div>
	</div>
{{/each}}
<form id="new-answer">
{{#with new_answer}}
	{{textarea value=code placeholder="Your solution"}}
	<button {{action save}} class="secondary radius">add</button>
{{/with}}
</form>

{{ outlet }}