<h2>{{description}}</h2>
<h2>&#8618;{{result}}</h2>
{{#each answers}}
	<div {{bind-attr class="correct:correct:wrong"}}>
			<p>{{code}} <button class="tiny" {{action destroy this}}>X</button></p>
	</div>
{{/each}}
<form id="new-answer">
{{#with new_answer}}
	{{input value=code placeholder="Your solution"}}
	<button {{action save}}>add</button>
{{/with}}
</form>

{{#link-to 'flashcard.edit'}}edit this story {{/link-to}}

{{ outlet }}