<h3>
	<div class="flashcard-actions">
		<button {{action 'destroy'}} class="label radius alert right">X</button>
		{{#link-to 'flashcard.edit' classNames="label radius secondary right"}}edit{{/link-to}}
	</div>	
	{{description}} 
	<small></small>

</h3>
<p class="subheader">
&#8618;{{result}}</p>
{{#each a in answers}}
			<div class="row flashcard">
				<div class="large-10 columns">
					{{{a.raycode}}}
				</div>
				<div class="large-2 columns">
					<button class="radius secondary label right" {{action destroy a}}>X</button>
					<i {{bind-attr class="a.imageClass" classNames="right"}}></i>
				</div>
			</div>

{{/each}}
<form id="new-answer">
{{#with new_answer}}
	{{view Ember.TextArea valueBinding=code rows="12" cols="70"}}
	<button {{action save}} class="secondary radius">add</button>
{{/with}}
</form>

{{ outlet }}